@{
    ViewData["title"] = "Iniciar sesión";
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TULICENCIA </title>
        <script src="~/assets/js/authentication-main.js"></script>
        <link rel="stylesheet" href="~/assets/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/assets/css/styles.min.css" />
        <link rel="stylesheet" href="~/assets/css/icons.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                    <form method="post" action="@Url.Action("Check", "Auth")" class="card custom-card">
                        <div class="card-body p-5">
                            <p class="h5 fw-semibold mb-2 text-center">Iniciar sesión</p>
                            @if (!ViewData.ModelState.IsValid)
                            {
                            <div class="mb-4 text-muted op-7 fw-normal text-danger text-center">@Html.ValidationSummary()</div>
                            }
                            <div class="row gy-3">
                                <div class="col-xl-12">
                                    <label for="signin-username" class="form-label text-default">Usuario</label>
                                    <input type="text" class="form-control form-control-lg" name="usr" id="signin-username">
                                </div>
                                <div class="col-xl-12 mb-2">
                                    <label for="signin-password" class="form-label text-default d-block">Contraseña</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control form-control-lg" name="pwd" id="signin-password">
                                        <button class="btn btn-light" type="button" onclick="createpassword('signin-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                    </div>
                                    <div class="mt-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label text-muted fw-normal" for="defaultCheck1">Recordarme</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 d-grid mt-2">
                                    <button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/show-password.js"></script>
    </body>
</html>
