<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>	
		<modules>
			<remove name="WebDAVModule" />
		</modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			<remove name="WebDAV" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SmartLicencia.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 73045C8F-C0BE-473D-A81F-9BFA8DB2CA81-->